<!DOCTYPE html>
<html >
  <head>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/sprite.css" type="text/css"/>
    <link rel="stylesheet" href="css/sprite-grayscale.css" type="text/css"/>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  </head>
  <body data-ng-app="webapp">
    <div id="preload">
      <img src="imgs/mastery-sprite.png" width="1" height="1" alt=""/>
      <img src="imgs/mastery-sprite-grayscale.png" width="1" height="1" alt=""/>
      <img src="imgs/frame-sprite.png" width="1" height="1" alt=""/>
    </div>
    <div id="masterySim" data-ng-controller="simController">	    <div ng-repeat="tree in treeData track by tree.id" class="tree" id="{{treeData[tree.id].name.toLowerCase()}}">
		    <div ng-repeat="tier in masteryData[tree.id] track by tier.tier" class="tier tier-{{tier.tier}} {{tier.type+'-length-'+tier.masteries.length}}" ng-class="(tier.type=='key')?('key-tier-'+(tier.tier-1)/2):''">
          <div ng-repeat="icon in masteryData[tree.id][tier.tier].masteries" class="icon {{'order-'+icon.order}}">
            <div class="{{'icons-'+icon.index}} icon-button">
            </div>
            <div class="icon-frame">
            </div>
            <div ng-if="tier.type=='normal'"class="points">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="includes">
      <script type="text/javascript" src="js/data.js"></script>
      <script type="text/javascript" src="js/sim.js"></script>
    </div>
  </body>
</html>
